<!--<% content_for(:note) do %>
	<p> This could be different for each view.</p>
<% end %>-->
<%
	meta :title => 'HOME',
		 :description => 'Rails Blog App',
		 :keywords => %w(rails ruby on rails Rails)	 
%>
<h1>Listing pages</h1>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Slug</th>
			<th>Content</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @pages.each do |page| %>
		<tr>
			<td><%= page.title %></td>
			<td><%= page.slug %></td>
			<td><%= page.content %></td>
		</tr>
	<% end %>	
	</tbody>
</table>

<%= link_to "New Page", new_page_path %>
